{{#partial "content"}}

{{#if teams}}
    {{#each teams}}

        <p>  <a href="/teams/{{id}}">{{ teamName }}</a></p>

    {{/each}}
    {{else}}
        <p>Nothing to Show</p>
{{/if}}



{{/partial}}

{{> layout.hbs}}