{{#partial "content"}}

    {{#if editTeam}}


            <h3>Edit Team Name</h3>
        <form action="/teams/{{editTeam.id}}/updateTeam" method="post">
            <label for="teamName">Edit this team's name</label>
            <input id="teamName" name="teamName" type="text">
            <button type="submit" class="btn btn-default">Edit</button>
    {{/if}}
    </form>
    </form>

{{/partial}}

{{> layout.hbs}}