{{#partial "content"}}
<h1>Add a Team</h1>

<form action="/teams/new" method="post">

    <label for="teamName">Enter Team</label>
    <input id="teamName" name="teamName" type="teamName">



    <label for="description">Team Description</label>
    <input id="description" name="description" type="text">

    <label for="memberName">Team Members</label>
    <input id="memberName" name="memberName" type="text">


    <button type="submit" class="btn btn-default">Go!</button>
</form>
{{/partial}}

{{> layout.hbs}}