{{#partial "content"}}


<img src="/images/eventMap.png">



<h3>Location</h3>
<small><p>13810 SW Farmington Rd, Beaverton, OR 97005 <a href="https://www.google.com/maps/place/13810+SW+Farmington+Rd,+Beaverton,+OR+97005/@45.4863667,-122.8213149,17z/data=!3m1!4b1!4m5!3m4!1s0x54950e9c902c9031:0x68d8218ee7a1afae!8m2!3d45.4863667!4d-122.8191262">Directions</a> </p></small>
<small><p>Call or text Garrett if you need help finding us at 503-724-1002</p></small>
<a href="https://www.meetup.com/IdeasScienceTech/events/vlmhcpyxcbrb/">https://www.meetup.com/IdeasScienceTech/events/vlmhcpyxcbrb/</a>


<h3>Description</h3>
<p>Do you want to learn about Machine Learning for IoT devices? Chris is planning to join us <a href=" http://www.sensiml.com/">fSensiML.</a>
    Do you enjoy learning and sharing knowledge to help people solve problems? Check out (<a href="https://www.youtube.com/watch?v=u6XAPnuFjJc">this video</a>) to see what we're about. We'll have a short presentation and at the end of our session, we'll team up to brainstorm and vote for a new interesting topic for the following week presentation. The winning team's idea will get the innovator of the week award.

    <strong>Join the fun!</strong></p>

{{/partial}}

{{> layout.hbs}}