<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Ideas in Science & Tech{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/teams/all">See All Teams</a></li>
    <li role="presentation"><a href="/teams/new">Add a New Team</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="jumbotron">
        <!--<img src="/images/" width="70%">-->
        <h1>Ideas in Science & Tech
             <small>Saturday, January 13, 2018 from 1–2pm</small></h1>
        <br>

    </div>

    <div class="col-md-12">


        {{#block "content"}}
        {{/block}}

    </div>
</div>

{{#block "footer"}}

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="
</html>
{{/block}}