{{#partial "content"}}

    {{#if editTeam}}
        <h1>Edit</h1>
        <form action="/teams/update" method="post">
            <select name="editTeamId" id="editTeamId">
                {{#each teams }}
                    <option value="{{id}}">{{teamName}}</option>
                {{/each}}
            </select>
            <label for="newTeamName">Edit name</label>
            <input id="newTeamName" name="newTeamName" type="text" placeholder="new name">
            <label for="newDescription">Edit name</label>
            <input id="newDescription" name="newDescription" type="text" placeholder="new description">
            <button type="submit" class="btn btn-default">Go!</button>
        </form>

    {{else}}
            <h1>Add</h1>

        <form action="/teams/new" method="post">
            <label for="teamName">Team Name</label>
            <input id="teamName" name="teamName" type="text">
            <label for="description">Description</label>
            <input id="description" name="description" type="text">
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    {{/if}}



{{/partial}}

{{> layout.hbs}}