{{#partial "content"}}
<p>Members of this Team:    {{teamName.name}} </p>

<ul>
    {{#each members}}
    <li>
        <h5>Member Name: {{ memberName }}</h5>
        <p>Member Stats:{{ stats }}</p>

        <br>
        <a href="/members/update">Edit members</a><br>
        <a href="/members/delete">DELETE members</a>
        </p>
    </li>
    {{/each}}
</ul>
<a href="/teams/update">Edit this Team</a><br>
<a href="/teams/delete">DELETE Team</a>

{{/partial}}

{{> layout.hbs}}